.splitbox {
	left:0px;
	right:0px;
	top:0px;
	bottom: 0px;
	position: absolute;
}
.splitter {
	z-index:1000;
	background-color: red;
	box-sizing: border-box;
	position: absolute;
}
.splitter.horizontal {
	cursor: ns-resize;
	height:1px;
	width: 100%;
	top:50%;
}

.splitter.horizontal div {
	height:5px;
	margin-top: -2px;
	width:100%;
}			

.splitter.vertical {
	cursor: ew-resize;
	width:1px;
	height: 100%;
	left:50%;
}

.splitter.vertical div {
	width:5px;
	margin-left: -3px;
	height:100%;
}	
.splitboxbox {
	overflow: hidden;
	position: absolute;
}